/* Container styling for table */
.registration-payment-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem; /* Padding using rem units */
    z-index: 0;
  }
  
/* Center the heading container */
.registration-payment-heading {
  text-align: center;
  width: 100%;
  height: auto;
}

.input-container {
  position: relative; /* Ensure the input container is positioned */
}

.input-container input[type=text]
{
  border: 0;
  font: inherit;
}

.suggestions-list {
  list-style-type: none; /* Remove bullets */
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* Background color for dropdown */
  position: absolute; /* Position dropdown absolutely */
  top: 100%; /* Position it directly below the input */
  left: 0; /* Align with the left of the input */
  right: 0; /* Align with the right of the input */
  z-index: 10; /* Ensure it's above other content */
  border: none;
}

.suggestions-list li {
  padding: 8px; /* Add padding */
  cursor: pointer; /* Pointer cursor on hover */
}

.button-row1 {
  display: flex; /* Uses flexbox for layout */
  justify-content: flex-start; /* Aligns buttons to the left */
  margin-top: 1rem; /* Adds space above the button row (optional) */
  width: 20rem;
  margin-left: 8rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.file-input {
  display: none; /* Hide the default file input */
}

.custom-file-input {
  display: inline-block;
  padding: 0.5rem 1rem; /* Adjust padding to match the button */
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 4px; /* Adjust border radius to match button */
  cursor: pointer;
  font-size: 1rem; /* Adjust font size to match button */
}

.custom-file-input:hover {
  background-color: #0056b3; /* Darker background on hover */
}